[% INCLUDE header 
   text_title = html_title_text 
%]

<table border="0" cellspacing="0" width="100%">

	<tr>
		<td>
		
		[% html_header %]
		
		</td>
	</tr>
</table>

<br>

<table border="0" width="100%">
	
	<tr>
		<td width="48%" valign="top">
[% PERL %]

#<form ACTION="[% html_site_cgi %]/[% database_name %]?page=gblastresults" METHOD="POST" NAME="MainBlastForm" enctype="multipart/form-data">
use Mbl;
use CGI qw(:all);
use CGI::Pretty;
use DBI;
use Bio::Seq;
    
use strict;
     
my $mbl = Mbl::new(path_info(), param('organism'));
 
my $dbh = $mbl->dbh();

print start_multipart_form( -action=>$mbl->organism_home, -method=>'POST');

[% END %]
<h3>Database and Program Options:</h3>

<p>
<a href="/blast/docs/blast_program.html">Program</a>
[% PERL %]

my $mbl = Mbl::new(path_info(), param('organism'));

#<select name ="PROGRAM">
#    <option> blastn 
#    <option> blastp 
#    <option> blastx 
#    <option> tblastn 
#    <option> tblastx 
#</select>
#Databases

#<select name ="DATALIB">
#    <option VALUE ="[% database_name %]">Contig Consensus Sequences (nucleotides) 
#    <option VALUE ="[% database_name %]_orfs_nt"> Predicted Open Reading Frame Sequences (nucleotides)
#    <option VALUE ="[% database_name %]_orfs_aa"> Translated Open Reading Frame Sequences (amino acids)
#    <option VALUE ="[% database_name %]_unused_reads_nt"> All Sequence Reads Not Included in Assembly (nucleotides)
#</select>
print popup_menu(-name=>"PROGRAM", -values=>['blastn', 'blastp', 'blastx', 'tblastn', 'tblastx'],-default=>param('program'));

my %db_label = (
	$mbl->organism=>'Contig Consensus Sequences (nucleotides)',
	$mbl->organism . '_orfs_nt'=>'Predicted Open Reading Frame Sequences (nucleotides)',
	$mbl->organism . '_orfs_aa'=>'Translated Open Reading Frame Sequences (amino acids)',
	$mbl->organism . '_unused_reads_nt'=>' All Sequence Reads Not Included in Assembly (nucleotides)'
	);
print "Databases
";
print popup_menu(-name=>"DATALIB", -values=>[$mbl->organism, $mbl->organism . '_orfs_nt', $mbl->organism . '_orfs_aa', $mbl->organism . '_unused_reads_nt'],-labels=>\%db_label, -default=>param('database'));


[% END %]
<input TYPE="checkbox" VALUE="yes" CHECKED NAME="show_img"> Overlay Hits over Genome Image
<p>
Enter sequence below in <a href="/blast/docs/fasta.html">FASTA</a>  format 

<br>
[% PERL %]
print '<textarea name="SEQUENCE" rows=12 cols=100>';
print param('seq');
print '</textarea>';
[% END %]
<br>
Or load it from disk 
<p>
Set subsequence: From
&nbsp;&nbsp<input TYPE="text" NAME="QUERY_FROM" VALUE="" SIZE="10">
&nbsp;&nbsp&nbsp;&nbsp To
<input TYPE="text" NAME="QUERY_TO" VALUE="" SIZE="10">
<p>
<input TYPE="button" VALUE="Clear sequence" onClick="MainBlastForm.SEQUENCE.value='';MainBlastForm.QUERY_FROM.value='';MainBlastForm.QUERY_TO.value='';MainBlastForm.SEQUENCE.focus();">
<input TYPE="submit" VALUE="Search">
<hr>

The query sequence is 
<a href="/blast/docs/filtered.html">filtered</a> 
for low complexity regions by default.
<br>
<a href="/blast/docs/newoptions.html#filter">Filter</a>
 <input TYPE="checkbox" VALUE="L" NAME="FILTER" CHECKED> Low complexity
<p>
<a href="/blast/docs/newoptions.html#expect">Expect</a>
<select name ="EXPECT">
    <option> 0.0001 
    <option> 0.01 
    <option> 0.1 
    <option selected> 1 
    <option> 10 
    <option> 100 
    <option> 1000 

</select>
&nbsp;&nbsp;

<a href="/blast/docs/matrix_info.html">Matrix</a>
<select name ="MAT_PARAM">
    <option value ="PAM30"> PAM30 </option>
    <option value ="PAM70"> PAM70 </option> 
    <option value ="BLOSUM80"> BLOSUM80 </option>

    <option selected value ="BLOSUM62"> BLOSUM62 </option>
    <option value ="BLOSUM45"> BLOSUM45 </option>
</select>
<p>
<a href="/blast/docs/oof_notation.html">Frame shift penalty</a> for blastx 
<select NAME =" OOF_ALIGN"> 
 <option> 6
 <option> 7
 <option> 8
 <option> 9
 <option> 10
 <option> 11
 <option> 12
 <option> 13
 <option> 14
 <option> 15
 <option> 16
 <option> 17
 <option> 18
 <option> 19
 <option> 20
 <option> 25   
 <option> 30
 <option> 50
 <option> 1000
 <option selected VALUE =" 0"> No OOF

</select>
<p>
<hr>
<p>
<input TYPE="hidden" NAME='page' VALUE='gblastresults'>
<input TYPE="button" VALUE="Clear sequence" onClick="MainBlastForm.SEQUENCE.value='';MainBlastForm.SEQUENCE.focus();">
<input TYPE="submit" VALUE="Search">
</form>
		</td>
</table>
<p><i>Powered by the <a href="http://www.ncbi.nlm.nih.gov/BLAST/">NCBI Blast Programs</a> and <a href="http://www.bioperl.org">BioPerl</a>.</i></p>

		</td>
		<td width="4%"></td>
		<td width="48%" valign="top">
			<table border=0 width="100%">
			<tr>
				<td>

				[% html_rightcolumn %]
				
				</td>
			</tr>
			</table>		
		</td>
	</tr>

</table>

[% 
INCLUDE footer 
footer_projectenquiries = html_projectenquiries
footer_gmodenquiries = html_gmodenquiries
%]
