[% INCLUDE header 
   text_title = html_title_text 
%]

<center>
	<p><font size="+4" color="red"><b>Login</b></font></p>
	<h3>Access to Private Data</h3>
</center>
<hr>
[% login_text %]
<p>
<center>
[% INCLUDE login_tool %]
</center>
