[% INCLUDE header 
   text_title = html_title_text 
%]


<table border=0 width="100%" cellspacing=0>
	<tr>
		<td>
			[% html_top %]
		</td>
	</tr>
	<tr>
		<td>
			
			[% INCLUDE orfanalysis_tool %]
		</td>
	</tr>	
	<tr>
		<td>
		
		[% html_bottom %]

		</td>
	</tr>

</table>

[% 
INCLUDE footer 
footer_projectenquiries = html_projectenquiries
footer_gmodenquiries = html_gmodenquiries
%]
