[% INCLUDE header 
   text_title = html_title_text 
%]

<table border="0" cellspacing="0" width="100%">

	<tr>
		<td>
		
		[% html_header %]
		
		</td>
	</tr>
	<tr>
		<td><br></td>
	</tr>
</table>

<br>
[% INCLUDE sagetagassign %]
<p>&nbsp;
[% 
INCLUDE footer 
footer_projectenquiries = html_projectenquiries
footer_gmodenquiries = html_gmodenquiries
%]
